# PHP dependencies
/vendor/


# Smarty compiled templates & cache
/templates_c/
/cache/

# Environment/config
/.env
/envold.php

# OS files
Thumbs.db
.DS_Store

# IDE files
.idea/
*.log

# Backup files
.old/